numpy==1.23.0
torch==2.4.1
timm==0.5.4
torchvision==0.19.1

pillow==9.1.1
scipy==1.8.1
torchinfo==1.7.0
wandb==0.12.17
pyyaml==6.0
yacs==0.1.8
termcolor==1.1.0
einops==0.4.1

pandas==2.3.3
ftfy==6.3.1
regex==2026.2.28
scikit-learn==1.7.2